body {
  background-color: rgb(89, 140, 234);
}

.header {
  text-align: center;
  margin: 30px;
  color: white
}

.form_container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  border: 2px solid;
  background-color: lightgray;
}

.form_body {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form_header {
  margin: 10px;
  text-align: center;
}

.form label {
  font-weight: 700;
}

.form_field_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form_field_container label {
  margin-top: 10px;
}

.form_field {
  margin-top: 7px;
  width: 95%;

}

.form_button {
  margin-top: 15px;
  width: 97%;
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgray;
}
