body {
  background-color: rgb(89, 140, 234);
}

.message-container {
  text-align: center;
}

.error-message {
  display: inline-block;
  color: red;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcoral;
  border: 2px solid black;
}


.header {
  text-align: center;
  margin: 30px;
  color: white
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80vh;
  gap: 5px;
}

.left-top {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid;
}

.left-bottom {
  grid-column: 1;
  grid-row: 2;
  border: 2px solid;
}

.right {
  grid-column: 2;
  grid-row: 1 / 3;
  border: 2px solid;
  background-color: lightgray;
  overflow-y: auto;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: lightgray;
}

.form_body {
  width: 80%;
  margin: auto;
}

.form_header {
  margin: 0px;
  padding-top: 10px;
  text-align: center;
}

.form label {
  font-weight: 700;
}

.form_field_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form_field_container label {
  margin-top: 10px;
}

.form_field {
  margin-top: 7px;
  width: 96%;

}

.form_button {
  margin-top: 15px;
  width: 97%;
}


table, th, td {
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}
