.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 85%;
  margin: 50px auto;
}

.grid-item {
  text-align: center;
  border-radius: 10px;
  border: 2px solid;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.grid-item form {
    width: 100%;
}

.grid-item button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: lightgray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.grid-item button:hover {
  background-color: #357ABD; 
}
