body {
  background-color: #4a90e2
}

.message-container {
  text-align: center;
}

.error-message {
  display: inline-block;
  color: red;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcoral;
  border: 2px solid black;
}

.header {
  text-align: center;
  margin: 30px;
  color: white
}

.form_container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 30px;
}

.form {
  width: 45%;
  border: 2px solid;
  background-color: lightgray;
}

.form_header {
  margin: 10px;
  text-align: center;
}

.form_body {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}

.form_field_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form_field_container label {
  font-weight: 700;
  margin-top: 10px;
}

.form_field {
  margin-top: 7px;
  width: 95%;
}

.form_button {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 97%;
}

.info_box {
  width: 80%;
  margin: 0px auto;
  background-color: lightgray;
  border: 2px solid;
}

.info_box_header {
  text-align: center;
}

.info_box_body {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}

.info_box_body_left, .info_box_body_right {
  font-size: 20px;
}

